# Xcode
.DS_Store
*/.DS_Store
build/
DerivedData/
*.xcuserstate
*.xcuserdatad
xcuserdata/
*.xcscmblueprint

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Bundle / Code Signing Secrets
*.p12
*.p8
*.mobileprovision
*.cer

# Antigravity artifacts / scratch
.agents/
scratch/
